<!-- IF not S_IS_BOT and S_USER_LOGGED_IN and NEWEST_USER -->
<div class="stat-block statisticsonindex">
	<h3>{L_STATISTICS}</h3>
	<p>
	{TOTAL_POSTS} &bull; {POSTS_PER_YEAR} &bull; {POSTS_PER_DAY} &bull; {POSTS_PER_TOPIC} &bull; {POSTS_PER_USER}<br />
	{TOTAL_TOPICS} &bull; {TOPICS_PER_YEAR} &bull; {TOPICS_PER_DAY} &bull; {TOPICS_PER_USER}<br />
	{TOTAL_FILES} &bull; {FILES_PER_YEAR} &bull; {FILES_PER_DAY} &bull; {FILES_PER_USER}<br />
	{TOTAL_USERS} &bull; {USERS_PER_YEAR} &bull; {USERS_PER_DAY} &bull; {NEWEST_USER}<br />
	{L_START_DATE}	<strong>{START_DATE}</strong>
	</p>
</div>
<!-- ENDIF -->	